[Unit]
Description=MOD-host
After=jack.service
BindsTo=jack.service

[Service]
LimitRTPRIO=99
LimitMEMLOCK=infinity
Type=forking
Environment=LV2_PATH=/home/pistomp/.lv2
Environment=JACK_PROMISCUOUS_SERVER=jack
ExecStart=/usr/local/bin/mod-host -p 6666 -f 6667
User=pistomp
Group=audio
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
